server:
  port: 8088

spring:
  servlet:
    multipart:
      enabled: true
      location: ${java.io.tmpdir}
      max-file-size: 2048KB
      max-request-size: 2048KB
  redis:
    host: localhost
    port: 6379
  profiles:
    active: local
  cloud:    gcp:
      credentials:        location: https://storage.cloud.google.com/kangkrkr_img_bucket1/springdev-c1e41e7f0c54.json
      storage:        credentials:
          location: https://storage.cloud.google.com/kangkrkr_img_bucket1/springdev-f50db4f4d3de.json
gcp:
  bucket:
    name: kangkrkr_img_bucket1

kafka:
  bootstrapAddress: localhost:9092

message:
  topic:
    name: mytopic
greeting:
  topic:
    name: greeting
filtered:
  topic:
    name: filtered
partitioned:
  topic:
    name: partitioned